//footer
.footer1, .footer2{
	padding:5vh 0vh;
	img{
		vertical-align: middle;
		width: 70px;
	}
	span{
		padding-left:2vh;
	}
}
//footer
.footer1,
.footer2 {
	padding: 5vh 0vh;
	img {
		vertical-align: middle;
		width: 70px;
	}
	span {
		padding-left: 2vh;
	}
}

.browser-default {
	margin-bottom: 4vh;
}

.browser-default{
	margin-bottom: 4vh;
}
