nav {
	background-color: transparent;
	box-shadow: none;
	position: absolute;
	z-index: 100;
}

.linea {
	font-weight: 800;
	top: 4.3em;
	z-index: 8;
	background-color: rgba(255, 255, 255, 0.3);
	height: 1px;
	position: relative;
}

.btn,
.btn-large,
.btn-flat {
	padding: 0 1rem;
}

.btn-abrir:focus {
	background-color: transparent;
}

.btn-abrir:hover {
	background-color: transparent;
}

.nav-wrapper a {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
}

.btn-inicio {
	background-color: white !important;
	color: dimgray !important;
}

.btn-navbar {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 50px;
	color: white;
}

.nav-wrapper a {
	color: white;
}

nav .nav-wrapper {
	padding-right: 8%;
}

header {
	padding-bottom: 4em;
}

.logo {
    margin-top: -19px;
    display: inline-block;
    width: 102px;
    height: 70px;
    margin-left: 2em;
}
