/* ==========================================================================
   Responsive
   ========================================================================== */


/* Landscape phones and down */

@media (max-width: 480px) {
  .logo {
    margin-top: 1em;
    display: inline-block;
    width: 140px;
    height: 100px;
    margin-left: -2em;
  }
  .slider .slides li .caption {
    margin-top: 3.5em;
  }
  h3 {
    font-size: 2.3rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
  }
  .btn-home {
    width: 100%;
  }
  .experiencias {
    margin-top: 49em;
    left: 3em;
  }
  .linea {
    z-index: 0;
  }
  .experiencias {
    margin-top: 49em;
    left: 1em;
  }
  img.responsive-img,
  video.responsive-video {
    max-width: 100%;
    height: 180px;
    width: 288px;
    margin-bottom: 2em;
  }
}

@media (max-width: 320px) {
  .experiencias {
    margin-top: 44em;
    left: 0em;
  }
}


/* Landscape phone to portrait tablet */

@media (min-width: 481px) and (max-width: 767px) {}